body {
    margin: 60px auto;
    width: 70%;
	color: #333;
	font-size: 1.5em;
	line-height: 1.4.em;
}

nav {
	font-size: 1.2em;
}

nav ul,
footer ul {
    font-family:'Times New Roman', 'Trebuchet', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #d06900;
}

a:hover {
    text-decoration: none;
	background-color: #ffb;
	padding: 10px;
	color: #7d97ad;
}

h1 {
    font-size: 3em;
    font-family:'Times New Roman', 'Trebuchet', 'Serif';
}

h2 {
    font-size: 2.5em;

}

h3 {
    font-size: 2em;
}

footer {
    border-top: 48px solid #d06900;
    font-size: 0.8em;
}

hr {
max-width: 100%;
border: 24px solid #7d97ad;	
}

img {
	display: block;
	padding: 0;
	margin: 0 auto;
	width: 600px;
	max-width:100%;
	max-height:100%;
	border: dashed 3px;
	border-color: #7d97ad;
	overflow: hidden;
}


.footer-link {
	color: #000;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}