body {
    margin: 60px auto;
    width: 60%;
	color: #333;
}

nav {
	font-size: 1.2em;
}

nav ul,
footer ul {
    font-family:'Times New Roman', 'Trebuchet', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #d06900;
	line-height: 1.6em;

}

a:hover {
    text-decoration: none;
	background-color: #ffb;
	color: #7d97ad;
}

h1 {
    font-size: 3em;
    font-family:'Times New Roman', 'Trebuchet', 'Serif';
}

h2 {
    font-size: 2.5em;

}

h3 {
    font-size: 2em;
}

p { 
	font-size: 1.5em;
	line-height: 1.6em;
}

footer {
    border-top: 48px solid #d06900;
    font-size: 0.8em;
}

hr {
max-width: 100%;
border: 24px solid #7d97ad;	
}

img {
	display: block;
	padding: 0;
	margin: 2em auto 3em;
	max-width:100%;
	max-height:100%;
	overflow: hidden;
	/*outline: 4px solid #7d97ad;
	outline-offset: -4px;*/
}

img.flexbox {
	max-height: 400px;
}

figure {
	width: 60%;
	display: flex;
	flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.footer-link {
	color: #000;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.flexbox {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;	
}

/*
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;

}
*/