<!DOCTYPE html>
<html lang="en">

	<head>
		<title>{{ page.title }}</title>
		<!-- main stylesheet -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<!-- Hotjar Tracking Code for https://www.ewastasiak.pl/ -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:3296329,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
		<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
		<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		"palette": {
			"popup": {
			"background": "#216942",
			"text": "#b2d192"
			},
			"button": {
			"background": "#afed71"
			}
		},
		"theme": "edgeless",
		"position": "top"
		})});
		</script>
	</head>

	<body>
		<a id="top"><a>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/interactive">Interactive</a></li>
						<li><a href="/other">Other</a></li>
						<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}

		</div><!-- /.container -->

		<footer>
    		<ul>
        		<li><a class="footer-link" href="mailto:ewa.stasiak.poczta@gmail.com">email</a></li>
        		<li><a class="footer-link" href="https://github.com/ewastasiak">github.com/ewastasiak</a></li>
			</ul>
		</footer>
		<script src="/js/jquery.min.js"></script>
		{% include lightbox.html %}
	</body>
</html>
